In [1]:
from pathlib import Path
import os
import pandas as pd

In [2]:
cwd =os.getcwd()
p_cwd = Path(cwd).parent.absolute()
filename = "phen_data.csv"

In [3]:
df = pd.read_csv(os.path.join(p_cwd, "data", filename), parse_dates=True, low_memory=False)

In [4]:
df.shape

(11194620, 18)

In [5]:
obs = df.shape[0]

In [6]:
obs

11194620

In [7]:
df.head()

,s_id,provider_id,lon,lat,alt,alt_dem,gss_id,genus,species,subspecies,phase_id,year,day,date,cult_season,affected_flag,qc_flag,qc_ori_flag
0,5144,101,11.23330,53.9833,5,0,2390300,Tilia,Tilia platyphyllos,NaN,60,1951,2,1951-01-02,0,0,0,0
1,2255,101,8.96667,51.3333,250,256,1360100,Corylus,Corylus avellana,NaN,60,1951,5,1951-01-05,0,0,0,0
2,1967,101,9.00000,49.6667,220,221,1360100,Corylus,Corylus avellana,NaN,60,1951,6,1951-01-06,0,0,0,0
3,4014,101,10.93330,49.8000,260,242,1360100,Corylus,Corylus avellana,NaN,60,1951,7,1951-01-07,0,0,0,0
4,512,101,10.13330,52.0167,120,122,1600100,Galanthus,Galanthus nivalis,NaN,60,1951,10,1951-01-10,0,0,0,0

In [8]:
station_counts = df['s_id'].unique()

In [9]:
genus_counts = df['genus'].unique()

In [10]:
genus_counts

array(['Tilia', 'Corylus', 'Galanthus', 'Salix', 'Aesculus', 'Alnus',
       'Ribes', 'Anemone', 'Forsythia', 'Tussilago', 'Hordeum', 'Avena',
       'Dactylis', 'Taraxacum', 'Prunus', 'Betula', 'Beta', 'Fraxinus',
       'Acer', 'Rubus', 'Larix', 'Fragaria', 'Syringa', 'Triticum', 'Zea',
       'Picea', 'Fagus', 'Solanum', 'Philadelphus', 'Symphoricarpos',
       'Pinus', 'Sorbus', 'Robinia', 'Colchicum', 'Quercus', 'Vitis',
       'perm_grass', 'Trifolium', 'Sambucus', 'Malus', 'Secale',
       'Alopecurus', 'Calluna', 'Pyrus', 'Populus', 'Helianthus',
       'Cornus', 'Artemisia', 'Ambrosia'], dtype=object)

In [11]:
df['date'].min()

'1951-01-02'

In [12]:
df['date'].max()

'2019-12-19'

In [13]:
counts_df = pd.DataFrame(df['year'].value_counts().sort_values(ascending=False))
counts_df.to_csv(os.path.join(p_cwd, "output","printouts", "observations_per_year.csv"))

In [14]:
df.isna().sum()

s_id                    0
provider_id             0
lon                     0
lat                     0
alt                     0
alt_dem                 0
gss_id                  0
genus                   0
species            401226
subspecies       11177192
phase_id                0
year                    0
day                     0
date                    0
cult_season             0
affected_flag           0
qc_flag                 0
qc_ori_flag             0
dtype: int64

In [15]:
obs_without_sp = df['species'].isna().sum()

In [16]:
obs_without_sp

401226

In [17]:
perc_obs_to_drop = round((obs_without_sp/obs)*100,2)

In [18]:
perc_obs_to_drop

3.58

In [19]:
df.drop(['subspecies'], axis=1, inplace=True)

In [20]:
df_clean = df[df['species'].notna()]

In [21]:
df_clean.isna().sum()

s_id             0
provider_id      0
lon              0
lat              0
alt              0
alt_dem          0
gss_id           0
genus            0
species          0
phase_id         0
year             0
day              0
date             0
cult_season      0
affected_flag    0
qc_flag          0
qc_ori_flag      0
dtype: int64

In [22]:
df_clean.to_csv(os.path.join(p_cwd, "data", "clean_phen_data.csv"), index=False)